<div id="ens_header">
<div id="ens_header_row">
  <div id="ens_header_cell_logo_img"><a href="{{ site.baseurl }}"><img id="ens_logo_img" src="{{ site.baseurl }}/img/ensmallen_logo.png" alt="ensmallen" align="top" border="0"></a></div>
    <div id="ens_header_spacer"></div>
    <div id="ens_header_cell_logo_txt"><big><big><b>ensmallen</b></big><br>flexible C++ library for efficient mathematical optimization</big></div>
  </div>
  </div>
  <div id="nav-links">
      <!-- Nav pages -->
    {% assign sorted_pages = site.pages | sort:"order" %}
    {% for node in sorted_pages %}
      {% if node.layout == "default-nav" %}
        {% if node.url == page.url %}
        <a href="{% if site.baseurl == "/" %}{{ node.url }}{% else %}{{ node.url | prepend: site.baseurl }}{% endif %}.html" class="active" title="{{ node.title }}">{{ node.title }}</a>
        {% else %}
        <a href="{% if site.baseurl == "/" %}{{ node.url }}{% else %}{{ node.url | prepend: site.baseurl }}{% endif %}.html" title="{{ node.title }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
